.steps-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 24px 28px 24px;
  margin-bottom: 20px;
}

.steps-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
